* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  text-align: center;
  font-size: 32px;
  text-shadow: 1px 1px 2px black;
  padding: .7em;
  user-select: none;
  transition: all 200ms;
}
*:hover {
  transform: translate(1.2);
}
div {
  font-size: 2em;
  transition: all .3s ease-out;
}

div:hover {
   padding:1.4em;
}
.header {
  background: dodgerblue;
  color: royalblue;
  border: 2px solid royalblue;
  font-size: 3em;
}
.main {
  background: orange;
  color: yellow;
  border: 2px solid yellow;
  
}
.footer {
  border: 2px solid limegreen;
  color: purple;
  background: green;
}
